<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Recipes Book</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item (click)="openPage(rootPage)">
        Home
      </button>
      <button menuClose ion-item *ngIf="isAuthenticated" (click)="openPage(tabsPage)">
        Recipe Book
      </button>
      <button menuClose ion-item *ngIf="!isAuthenticated" (click)="openPage(signinPage)">
        Sign In
      </button>
      <button menuClose ion-item *ngIf="!isAuthenticated" (click)="openPage(signupPage)">
        Sign Up
      </button>
      <button menuClose ion-item *ngIf="isAuthenticated" (click)="logout()">
        Logout
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>